<ion-view id="mine" view-title="我的">
  <ion-nav-buttons side="right">
      <span class="button button-small button-clear " ng-click="signout()">
      	<i class="icon ion-log-out"></i>
      </span>
  </ion-nav-buttons>
  <ion-content>
    <div class="info">
      <div class="profile">
        <div class="avatar"></div>
        <div class="detail">
          <div class="">
            {{info.client.nickName}}13026170823
          </div>
          <div class="">
            13026170823
          </div>
        </div>
        <div class="edit" ng-click="editProfile()">
          <i class="icon ion-edit"></i>
        </div>
        <div class="clear-both"></div>
      </div>

    </div>
  </ion-content>


</ion-view>

